.listIncidentWrapper .header{
    margin-bottom: 60px;
}

.listIncidentWrapper .header span {
    display: table-cell;
    vertical-align: middle;
}

.listIncidentWrapper .header .image{
    margin-right: 80px;
}

.listIncidentWrapper .header .title{
    font-weight: bold;
    font-size: 30px;
    padding-left: 100px;
    color: #32d8f6;
}

.listIncidentWrapper .addButton {
    margin-bottom: 40px;
}
