.newIncidentWrapper {

}

.newIncidentWrapper .header{
    margin-bottom: 100px;
}

.newIncidentWrapper span {
    display: table-cell;
    vertical-align: middle;
}

.newIncidentWrapper .image{
    margin-right: 80px;
}

.newIncidentWrapper .title{
    font-weight: bold;
    font-size: 30px;
    padding-left: 100px;
    color: #ea4841;
}

.newIncidentWrapper form  .MuiTableCell-root {
    padding: 30px 16px;
}

.newIncidentWrapper form .email {
    padding-right: 20px;
}

.newIncidentWrapper form .emailArea .addEmail{
    cursor: pointer;
}
